<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div class="container">

    <div sec:authorize="hasAuthority('ROLE_WORKER')" > Has Authority WORKER

        <div class="starter-template">
            <h1>User page (Spring Security protected)</h1>

            <h1 th:inline="text">Hello!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>

        </div>

    </div>

</div>

</body>
</html>