<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div class="container">

    <div sec:authorize="hasAuthority('ROLE_WORKER')" >

        <table class="table">
            <tbody>
            <th:block th:each="project : ${projectList}">
                    <tr>
                        <td th:text="${project.name}">1</td>
                        <td>
                            <a th:href="@{/project/{id}(id=${project.id})}">More</a>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${project.description}">1</td>
                    </tr>
            </th:block>
            </tbody>
        </table>

        <div class="starter-template">

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>

        </div>

    </div>

</div>

</body>
</html>