<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../static/main.css" th:href="@{static/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Registration</title>
</head>
<body>
<div class="container" align="center" style="margin-top: 10%">
    <h1>Registration</h1>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-2" style="text-align: left;">
        <form action="/registration" th:object="${user}" method="POST" enctype="utf8">
            <label>Username</label>
            <input th:field="*{userName}" class="form-control input-lg"/>
            <p th:each="error: ${#fields.errors('userName')}"
               th:text="${error}">Validation error</p><br/>
            <label>First name</label>
            <input th:field="*{firstName}" class="form-control input-lg"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p><br/>
            <label>Last name</label>
            <input th:field="*{lastName}" class="form-control input-lg"/>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p><br/>
            <label>Email</label>
            <input type="email" th:field="*{email}" class="form-control input-lg"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p><br/>
            <label>Password</label>
            <input type="password" th:field="*{password}" class="form-control input-lg"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p><br/>
            <label>Confirm password</label>
            <input type="password" th:field="*{matchingPassword}" class="form-control input-lg"/>
            <div class="row" style="justify-content: center; margin-bottom: 3%; margin-top: 5%; text-align: center">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a th:href="@{/}" class="btn btn-lg btn-primary btn-block">Login?</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>